body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

.product1 {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 10px;
}

.product1 img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.product-title1 {
    font-size: 18px;
    margin-top: 10px;
}

.product-description1 {
    color: #555;
}

.product-price1 {
    color: #e44d26;
    font-weight: bold;
    margin-top: 10px;
}

.product2 {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 10px;
}

.product2 img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.product-title2 {
    font-size: 18px;
    margin-top: 10px;
}

.product-description2 {
    color: #555;
}

.product-price2 {
    color: #e44d26;
    font-weight: bold;
    margin-top: 10px;
}

button {
    background-color: #e44d26;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

button:hover {
    background-color: #d33a1c;
}